@media (max-width: 1439px) {
  .page-header {
    background-size: 115%;
  }

  .home-section {
    background-size: 115%;
  }
}

@media (max-width: 1320px) {
  /* Global */
  :root {
    --layout-width: 1150px;
  }

  .page-section__description {
    width: 550px;
  }

  .page-section__description_position_right {
    margin-right: -105px;
    margin-left: 60px;
  }

  .page-section__description_position_left {
    margin-right: 60px;
    margin-left: -105px;
  }

  .page-section__figure {
    max-height: 435px;
  }

  .page-section__figure::after {
    width: 175px;
    height: 175px;
    border-width: 15px;
  }

  /* Header */
  .page-header {
    background-size: 120%;
  }

  .navigation__container {
    width: 465px;
  }

  /* 'Home' Section */
  .home-section {
    background-size: 120%;
  }

  .main-heading {
    font-size: 88px;
  }

  /* 'Booking' Section */
  .booking-form {
    width: 545px;
  }

  .booking-section__form {
    margin-right: 70px;
    margin-left: -102.5px;
  }

  /* 'Menu' Section */
  .menu__list {
    column-gap: 40px;
  }

  .menu-item__inner {
    width: 255px;
  }

  /* 'Events' Section */
  .offer-list__item:first-child {
    margin-right: 110px;
  }

  .offer-list__item:last-child {
    margin-left: 110px;
  }

  /* 'Contact' Section */
  .related-info__data::before {
    margin-right: 3px;
    margin-left: 7px;
  }
}

@media (max-width: 1199px) {
  /* Global */
  :root {
    --layout-width: 960px;
  }

  .page-section__description {
    width: 455px;
    font-size: 16px;
  }

  .page-section__description_position_right {
    margin-right: -100px;
    margin-left: 40px;
  }

  .page-section__description_position_left {
    margin-right: 40px;
    margin-left: -100px;
  }

  .page-section__text_type_lead {
    font-size: 19px;
    line-height: 30px;
  }

  .page-section__figure {
    max-height: 360px;
  }

  .page-section__figure::after {
    width: 170px;
    height: 170px;
    border-width: 15px;
  }

  /* Header */
  .page-header {
    background-size: 145%;
  }

  .navigation__container {
    width: 365px;
  }

  /* 'Home' Section */
  .home-section {
    background-size: 145%;
  }

  .main-heading {
    font-size: 76px;
  }

  /* 'Booking' Section */
  .booking-form {
    width: 460px;
  }

  .booking-section__form {
    margin-right: 40px;
    margin-left: -102.5px;
  }

  /* 'Menu' Section */
  .menu__list {
    column-count: 2;
    column-gap: 90px;
  }

  .menu-item__inner {
    width: 295px;
  }

  /* 'Events' Section */
  .offer-list__item:first-child {
    margin-right: 80px;
  }

  .offer-list__item:last-child {
    margin-left: 80px;
  }

  .offer-item__name {
    width: 60px;
  }

  .page-section__figure_position_right .offer-item__name {
    left: -60px;
  }

  .page-section__figure_position_left .offer-item__name {
    right: -60px;
  }

  .offer-item__text {
    height: 60px;
    line-height: 40px;
  }

  /* 'Contact' Section */
  .contact-section {
    height: auto;
    padding-bottom: 50px;
  }

  .contact-form__button {
    width: 100%;
  }

  .contact-section__related-info {
    position: static;
    height: 100px;
    line-height: 100px;
  }
}

@media (max-width: 991px) {
  /* Global */
  :root {
    --layout-width: 100%;
  }

  .page-section {
    height: initial;
  }

  .page-section__contents {
    flex-direction: column;
  }

  .page-section__description {
    width: 80%;
    margin: 0;
  }

  .page-section__figure {
    max-height: 475px;
  }

  .page-section__figure::after {
    width: 210px;
    height: 210px;
    border-width: 20px;
  }

  .page-section__figure_position_left {
    margin-bottom: 35px;
    margin-left: 125px;
  }

  .page-section__figure_position_right {
    margin-top: 35px;
    margin-right: 125px;
  }

  /* Header */
  .page-header {
    background-size: 225%;
  }

  .page-header__logo {
    top: 125px;
  }

  .navigation__container {
    width: 50%;
  }

  /* 'Home' Section */
  .home-section {
    background-size: 225%;
  }

  .home-section__container {
    grid-template-columns: 1fr;
  }

  .main-heading {
    font-size: 88px;
  }

  /* --- 'Home' Section / Notes */
  .home-section__notes {
    order: 10;
    height: auto;
    border: none;
  }

  .home-section__related-info {
    position: static;
    height: 100px;
    line-height: 100px;
    transform: none;
  }

  /* --- 'Home' Section / Socials */
  .home-section__socials {
    order: 5;
    height: auto;
    border: none;
  }

  .socials-list {
    display: flex;
  }

  .home-section__socials-list {
    margin: auto;
  }

  .socials-list__item {
    margin: 0 20px 0 0;
  }

  .socials-list__item:last-child {
    margin-right: 0;
  }

  .home-section__key-contents::before {
    height: 350px;
  }

  /* 'Booking' Section */
  .booking-form {
    width: 80%;
    margin: 0;
  }

  .booking-section__form {
    margin-bottom: 20px;
  }

  /* 'Menu' Section */
  .menu__link {
    width: 100px;
  }

  .menu__list {
    column-gap: 30px;
  }

  .menu-item__inner {
    width: 255px;
  }

  /* 'Events' Section */
  .events-section__inner {
    height: auto;
  }

  .offer-list__item:first-child {
    margin-right: 60px;
  }

  .offer-list__item:last-child {
    margin-left: 60px;
  }

  /* 'Galerie' Section */
  .galerie-section {
    flex-wrap: wrap;
  }

  .galerie-section__image {
    min-width: calc(100% / 2);
  }

  /* 'Contact' Section */
  .contact-section__inner {
    width: 80%;
  }

  .contact-form__fields-area {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 60px);
  }

  .contact-form__fields-area div:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .contact-form__fields-area div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .contact-form__textarea-field {
    grid-column: auto;
    grid-row-start: 1;
    grid-row-end: -1;
  }

  .contact-form__textarea {
    height: 100%;
  }
}

@media (max-width: 767px) {
  /* Global */
  .page-section__figure {
    max-width: 60%;
    max-height: none;
  }

  .page-section__figure::after {
    border-width: 15px;
  }

  .page-section__image {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .page-section__related-info {
    height: auto;
    padding: 40px 10%;
    line-height: 20px;
  }

  /* Header */
  .page-header {
    background-size: 400%;
  }

  .page-header__logo {
    top: 185px;
  }

  .navigation__list {
    flex-wrap: wrap;
  }

  .navigation__container {
    width: 100%;
    height: 80px;
    line-height: 80px;
  }

  .navigation__link {
    line-height: 80px;
  }

  /* 'Home' Section */
  .home-section {
    background-size: 400%;
    background-position: center -160px;
  }

  .main-heading {
    line-height: 1.25;
  }

  .home-section__key-contents::before {
    bottom: 105px;
    height: 390px;
  }

  .home-section__key-contents::after {
    height: 45px;
  }

  .home-section__button {
    bottom: 45px;
  }

  /* 'Booking' Section */
  .booking-form__fields-area {
    grid-template-columns: none;
  }

  .booking-form__button {
    grid-column: auto;
  }

  .booking-section .page-section__figure {
    display: none;
  }

  /* 'Menu' Section */
  .menu-section__text {
    width: 80%;
  }

  .menu__wrapper {
    display: block;
    text-align: center;
  }

  .menu__chapter {
    display: inline-block;
  }

  .menu__inner {
    bottom: -45px;
    width: 80%;
  }

  .menu__list {
    column-count: 1;
  }

  .menu-item__inner {
    width: 75%;
  }

  .menu-item__description {
    text-align: left;
  }

  /* 'Galerie' Section */
  .galerie-section__image {
    max-width: calc(100% / 2);
  }

  /* 'Contact' Section */
  .contact-section__text {
    width: 100%;
  }

  .contact-form__fields-area {
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }

  .contact-form__fields-area div:nth-child(2),
  .contact-form__fields-area div:nth-child(3),
  .contact-form__textarea-field {
    grid-column: auto;
    grid-row: auto;
  }

  .contact-form__textarea {
    height: 120px;
  }

  .contact-section__related-info {
    padding: 20px 0;
    line-height: 20px;
  }

  .related-info__data {
    display: inline-block;
  }
}

@media (max-width: 479px) {
  /* Global */
  .page-section__figure::after {
    width: 120px;
    height: 120px;
    border-width: 10px;
  }

  .page-section__figure_position_left {
    margin-left: 70px;
  }

  .page-section__figure_position_right {
    margin-right: 70px;
  }

  /* Header */
  .page-header {
    background-size: 620%;
  }

  /* 'Home' Section */
  .home-section {
    background-size: 620%;
  }

  .home-section__key-contents {
    height: 775px;
  }

  .home-section__key-contents::before {
    height: 72px;
  }

  .main-heading {
    font-size: 74px;
  }

  .home-section__link-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .link-set__item {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }

  .link-set__item:last-child {
    margin-bottom: 0;
  }

  .link-set__link {
    width: 100%;
  }

  /* 'Menu' Section */
  .menu-section__text {
    margin-bottom: 25px;
  }

  .menu__link {
    width: 75px;
  }

  .menu-item__name,
  .menu-item__price {
    font-size: 14px;
  }

  /* 'Events' Section */
  .offer-item__text {
    font-size: 16px;
  }
}
