@import url("./src/header.css");
@import url("./src/main.css");
@import url("./src/footer.css");

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans--Bold.woff2") format("woff2"),
    url("./assets/fonts/OpenSans--Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-Thick.woff2") format("woff2"),
    url("./assets/fonts/OpenSans-Thick.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "Banny";
  src: url("./assets/fonts/Banny-BoldRound.woff2") format("woff2"),
    url("./assets/fonts/Banny-BoldRound.woff") format("woff");
  font-weight: 700;
}

/* Global */

:root {
  /* Page parameters */
  --layout-width: 1280px;
  /* Page colors */
  --page-basic-1: #000000;
  --page-basic-2: #ffffff;
  --page-alternate-1: rgba(51, 51, 51, 0.5);
  --page-alternate-2: rgba(255, 255, 255, 0.5);
  --page-accent: #e8c300;
  --section-text: rgba(255, 255, 255, 0.9);
  --menu-text: #333333;
  --element-border: rgba(255, 255, 255, 0.2);
  --image-shadow: rgba(0, 0, 0, 0.5);
  --element-shadow: rgba(0, 0, 0, 0.1);
  --button-hover: #edcb00;
  --button-active: #e3ba00;
  --link-border: rgba(51, 51, 51, 0.2);
  --link-bg: transparent;
  --input-bg: #e5e5e5;
  --footer-bg: rgba(0, 0, 0, 0.9);
}

.page,
.page-body {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  font-family: "Open Sans", "Tahoma", sans-serif;
}

.page-section {
  box-sizing: border-box;
}

.page-section_theme_light {
  color: var(--page-basic-1);
}

.page-section_theme_dark {
  color: var(--page-basic-2);
}

.page-section__heading {
  height: 100px;
  margin: 0;
  line-height: 100px;
  text-align: center;
}

.page-section__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--layout-width);
  margin: 0 auto;
}

.page-section__description {
  width: 600px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.page-section__description_position_right {
  order: 1;
  margin-right: -125px;
  margin-left: 80px;
}

.page-section__description_position_left {
  margin-right: 80px;
  margin-left: -125px;
}

.page-section__text-title {
  margin-bottom: 10px;
}

.page-section__text {
  text-align: center;
}

.page-section__text_type_lead {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.page-section__text_type_heavy {
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
}

.page-section__figure {
  position: relative;
  height: 100%;
  max-height: 475px;
  box-shadow: 0 0 50px var(--image-shadow);
}

.page-section__figure::after {
  content: "";
  position: absolute;
  display: block;
  width: 210px;
  height: 210px;
  border: 20px solid var(--page-accent);
  border-radius: 5px;
  box-shadow: 0 0 100px var(--element-shadow),
    inset 0 0 100px var(--element-shadow);
}

.page-section__figure_position_right::after {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.page-section__figure_position_left::after {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.page-section__image {
  max-height: 100%;
  width: auto;
}

.page-section__related-info {
  height: 100px;
  line-height: 100px;
}

.page-section__related-info_theme_light {
  color: var(--page-alternate-1);
}

.page-section__related-info_theme_dark {
  color: var(--page-alternate-2);
}

[class$="hidden"] {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
