.page-header {
  box-sizing: border-box;
  color: var(--page-basic-2);
  background-color: var(--page-basic-1);
  background-image: url("../assets/img/header-bg.jpg");
  background-size: cover;
  background-position: top center;
}

.page-header__logo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.page-header__navigation {
  width: var(--layout-width);
  margin: 0 auto;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__container {
  display: flex;
  box-sizing: border-box;
  width: 530px;
  height: 100px;
  border-bottom: 1px solid var(--element-border);
}

.navigation__link {
  display: block;
  width: calc(100% / 4);
  height: 100%;
  color: inherit;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation__link:hover {
  background-color: var(--element-border);
}

.navigation__link:active {
  opacity: 0.7;
}

.navigation__link:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--page-basic-2);
  border-radius: 5px;
}
