/* Components */
/* --- Components / Section Heading */

.heading-text {
  font-weight: 700;
  font-size: 12px;
  font-family: "Open Sans", "Tahoma", sans-serif;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

/* --- Components / Text Title */

.text-title {
  margin: 0;
  font-size: 36px;
  font-family: "Banny", "Trebuchet MS", sans-serif;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

/* --- Components / Dividing Line */

.dividing-line {
  width: 60px;
  height: 5px;
  margin: 0 auto;
  border-width: 0;
  border-radius: 50px;
  background-color: var(--page-accent);
}

/* --- Components / Button */

.button {
  display: block;
  box-sizing: border-box;
  border: 1px solid var(--element-border);
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.button_bg_yellow {
  border-width: 0;
  color: var(--page-basic-2);
  background-color: var(--page-accent);
}

.button_bg_white {
  color: var(--menu-text);
  background-color: var(--page-basic-2);
}

.button_bg_grey {
  color: var(--page-basic-2);
  background-color: var(--page-alternate-2);
}

.button_bg_none {
  color: var(--page-basic-2);
  background-color: var(--link-bg);
}

.button_type_rect {
  width: 200px;
  height: 60px;
  padding: 20px;
  border-radius: 5px;
}

.button_type_circle {
  border-radius: 50%;
}

.button_type_rect.button_bg_yellow:hover {
  background-color: var(--button-hover);
}

.button_type_rect.button_bg_yellow:active {
  background-color: var(--button-active);
  color: var(--page-alternate-2);
}

.button_size_s {
  width: 10px;
  height: 10px;
  padding: 0;
  border-width: 0;
  font-size: 0;
}

.button_size_m {
  width: 60px;
  height: 60px;
  padding: 10px;
}

/* --- Compontnts / Input Field */

.input-field {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  border-width: 0;
  border-radius: 5px;
  font-size: 14px;
  line-height: 19px;
  background-color: var(--input-bg);
}

.input-field::-webkit-input-placeholder {
  color: var(--page-alternate-1);
}

.input-field:focus {
  outline-color: var(--page-alternate-1);
}

/* --- Components / Related Info */

.related-info {
  margin: 0;
  font-weight: 900;
  line-height: 1;
  text-align: center;
}

.related-info__text_type_regular {
  font-weight: 400;
}

/* 'Home' Section */
/* --- 'Home' Section / Global */

.home-section {
  background-color: var(--page-basic-1);
  background-image: url("../assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -100px;
}

.home-section__container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: var(--layout-width);
  margin: 0 auto;
}

/* --- 'Home' Section / Key contents */

.home-section__key-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 700px;
  padding-top: 225px;
}

.home-section__key-contents::before {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 145px;
  display: block;
  width: 1px;
  height: 450px;
  background-color: var(--element-border);
}

.home-section__key-contents::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  display: block;
  width: 1px;
  height: 85px;
  background-color: var(--element-border);
}

.main-heading {
  margin: 0;
  font-size: 96px;
  font-family: "Banny", "Trebuchet MS", sans-serif;
  line-height: 1.45;
  text-align: center;
  text-transform: uppercase;
}

.home-section__heading-text {
  display: block;
}

.home-section__heading,
.home-section__heading-text,
.home-section__dividing-line {
  position: relative;
}

.home-section__link-set {
  margin: 0;
  margin-top: 35px;
  padding: 0;
  list-style: none;
}

.link-set__item {
  display: inline-block;
  margin-right: 40px;
}

.link-set__item:last-child {
  margin-right: 0;
}

.link-set__link.button_bg_none:hover {
  background-color: var(--element-border);
}

.link-set__link.button_bg_none:active {
  opacity: 0.7;
}

.link-set__link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--page-basic-2);
}

.home-section__button {
  position: absolute;
  left: 50%;
  bottom: 85px;
  transform: translateX(-50%);
  background-clip: content-box;
  background-image: url("../assets/img/array.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.home-section__button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--page-basic-2);
}

/* --- 'Home' Section / Notes */

.home-section__notes {
  position: relative;
  order: -1;
  height: 700px;
  border-right: 1px solid var(--element-border);
}

.home-section__related-info {
  position: absolute;
  left: -120px;
  top: 50%;
  font-weight: 700;
  transform: translateY(-50%);
  transform: rotate(-90deg);
  white-space: nowrap;
}

/* --- 'Home' Section / Socials */

.home-section__socials {
  display: flex;
  order: 1;
  height: 700px;
  border-left: 1px solid var(--element-border);
}

.socials-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.home-section__socials-list {
  margin: auto;
  margin-right: 0;
}

.socials-list__item {
  margin-bottom: 20px;
}

.socials-list__link {
  font-size: 0;
  line-height: 0;
}

.socials-list__link[href*="facebook"] {
  background-image: url("../assets/img/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
}

.socials-list__link[href*="twitter"] {
  background-image: url("../assets/img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.socials-list__link[href*="instagram"] {
  background-image: url("../assets/img/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.socials-list__link:hover {
  background-color: var(--element-border);
}

.socials-list__link:active {
  opacity: 0.7;
}

.socials-list__link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--page-basic-2);
}

/* 'About Us' Section */

.about-section {
  height: 100vh;
  padding-bottom: 100px;
}

.about-section__contents {
  height: calc(100% - 100px);
}

/* 'Team' Section */

.team-section {
  height: 100vh;
  padding-bottom: 100px;
  background-color: var(--page-basic-1);
  background-image: url("../assets/img/team-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.team-section__contents {
  height: calc(100% - 100px);
}

/* 'Booking' Section */

.booking-section {
  height: 100vh;
}

.booking-section__contents {
  height: calc(100% - 200px);
}

.booking-form {
  width: 565px;
}

.booking-section__form {
  margin-right: 80px;
  margin-left: -90px;
}

.booking-form__fields-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.booking-form__wrapper {
  position: relative;
}

.booking-form__select-btn {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 56px;
  height: 56px;
  border-width: 0;
  border-radius: 0 5px 5px 0;
  line-height: 56px;
  background-color: var(--input-bg);
}

.select-list {
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 2px var(--page-alternate-1);
  background-color: var(--page-basic-2);
  list-style: none;
  overflow-x: auto;
}

.booking-form__select-list {
  position: absolute;
  left: 0;
  top: calc(100% + 2px);
  display: none;
}

.booking-form__select-btn:focus + .booking-form__select-list {
  display: block;
}

#booking-time:focus ~ .booking-form__select-list {
  display: block;
}

.select-list__option {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px 13px;
  font-size: 14px;
  line-height: 20px;
}

.select-list__option:hover {
  background-color: var(--input-bg);
}

.booking-form__button {
  grid-column: span 2;
  width: 100%;
}

.booking-form__button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--page-alternate-1);
}

/* 'Specialties' Section */

.specialties-section {
  height: 100vh;
  background-color: var(--page-basic-1);
  background-image: url("../assets/img/specialties-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.specialties-section__contents {
  height: calc(100% - 200px);
}

.switcher-set {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.specialties-section__switcher-set {
  height: 100px;
  line-height: 100px;
}

.switcher-set__item {
  display: inline-block;
  margin-right: 20px;
}

.switcher-set__item:last-child {
  margin-right: 0;
}

.switcher-set__button[disabled] {
  background-color: var(--page-basic-2);
}

.switcher-set__button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--page-basic-2);
}

/* 'Menu' Section */

.menu-section {
  height: 920px;
  padding-bottom: 100px;
}

.menu-section__container {
  width: var(--layout-width);
  margin: 0 auto;
}

.menu-section__text-title {
  padding-top: 15px;
}

.menu-section__text {
  width: 565px;
  margin: 20px auto 50px;
}

.menu {
  width: 100%;
  height: 535px;
}

.menu__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__link {
  display: block;
  width: 120px;
  height: 50px;
  border-right: 1px solid var(--link-border);
  color: var(--menu-text);
  font-weight: 900;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__chapter:last-child .menu__link {
  border-right-width: 0;
}

.menu__inner {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.menu__list {
  height: 435px;
  margin: 0;
  padding: 0;
  column-count: 3;
  column-gap: 90px;
  list-style: none;
  overflow: hidden;
}

.menu__item {
  display: flex;
  margin-bottom: 30px;
  break-inside: avoid;
}

.menu-item__inner {
  width: 265px;
}

.menu-item__name {
  margin: 0;
  color: var(--menu-text);
  font-size: 18px;
  font-family: "Banny", "Trebuchet MS", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}

.menu-item__name::after {
  content: "..............................";
  margin-left: 10px;
  letter-spacing: 0.25em;
}

.menu-item__description {
  margin: 0;
  color: var(--page-alternate-1);
  font-weight: 400;
  font-size: 12px;
  font-family: "Open Sans", "Tahoma", sans-serif;
  line-height: 18px;
  text-transform: lowercase;
}

.menu-item__price {
  width: 100px;
  margin: 0;
  color: var(--menu-text);
  font-size: 18px;
  font-family: "Banny", "Trebuchet MS", sans-serif;
  line-height: 18px;
  text-align: right;
  white-space: nowrap;
}

/* 'Events' Section */

.events-section__inner {
  height: 100vh;
  background-color: var(--page-basic-1);
  background-image: url("../assets/img/specialties-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.offer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events-section__contents {
  height: calc(100% - 200px);
}

.offer-list__item {
  position: relative;
}

.offer-list__item:first-child {
  margin-right: 120px;
}

.offer-list__item:last-child {
  margin-left: 120px;
}

.offer-item__name {
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 100%;
  margin: 0;
  background-color: var(--page-basic-1);
  white-space: nowrap;
}

.page-section__figure_position_right .offer-item__name {
  left: -80px;
}

.page-section__figure_position_left .offer-item__name {
  right: -80px;
}

.offer-item__text {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  height: 80px;
  padding: 10px 20px;
  color: var(--page-basic-2);
  font-size: 24px;
  font-family: "Banny", "Trebuchet MS", sans-serif;
  line-height: 60px;
  text-transform: uppercase;
}

.page-section__figure_position_right .offer-item__text {
  bottom: 0;
  left: 100%;
  transform-origin: bottom left;
  transform: rotate(-90deg);
}

.page-section__figure_position_left .offer-item__text {
  top: 0;
  left: 100%;
  transform-origin: top left;
  transform: rotate(90deg);
}

/* 'Galerie' Section */

.galerie-section {
  display: flex;
  overflow: hidden;
}

.galerie-section__image {
  min-width: calc(100% / 4);
  height: auto;
}

/* 'Contact' Section */

.contact-section {
  height: 100vh;
  padding-bottom: 100px;
}

.contact-section__container {
  display: flex;
  width: var(--layout-width);
  height: calc(100% - 100px);
  margin: 0 auto;
}

.contact-section__inner {
  position: relative;
  width: 100%;
  margin: auto;
}

.contact-section__text {
  width: 565px;
  margin: 20px auto 50px;
}

.contact-form__fields-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: relative;
  padding-bottom: 70px;
}

.contact-form__textarea-field {
  grid-column: span 3;
}

.contact-form__textarea {
  height: 120px;
  padding-top: 20px;
  resize: none;
}

.contact-form__button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
}

.contact-form__button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--page-alternate-1);
}

.contact-section__related-info {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  color: var(--page-alternate-1);
  line-height: 60px;
}

.related-info__data::before {
  content: "";
  position: relative;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 6px 0 12px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.related-info__data:first-child::before {
  margin-left: 0;
}

.related-info__data_pic_location::before {
  background-image: url("../assets/img/location.svg");
}

.related-info__data_pic_phone::before {
  background-image: url("../assets/img/phone.svg");
}

.related-info__data_pic_envelope::before {
  background-image: url("../assets/img/envelope.svg");
}
